<html>
    <head>
        <title>Nelly RSS Feeder</title>
        <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/jquery-dateformat.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
          const socket = io('<%= expressURL %>');
          const app = {
            feeds : [],
            activeFeed : null
          };

          function addFeedToMenuItem(feed) {
            const feedId = feed.feedConfigId;

            $('#feed-menu').append(`<div id="${feedId}" class="menu-item"><a href="#${feedId}">${feed.name}</a></div>`);
            $(`#${feedId}`).click(() => {
              
              $.ajax({
                  url: `<%= expressURL %>/feedcontent?feedId=${feedId}`,
                  method: 'POST'    
                }).done(feedContent => {
                  $('#feedContent').html(feedContent);
              });

            });
          }

          $.ajax({
              url: '<%= expressURL %>/getfeeds',
              method: 'GET'
            }).done(feeds => {
              app.feeds = feeds.sort((a, b) => a.name.localeCompare(b.name));
              app.feeds.forEach(feed => addFeedToMenuItem(feed));
          });

        </script>
    </head>
    <body>
        <div class="wrapper">
            <div class="pagetop">
                <div class="top-left">
                    <h1>Nelly RSS Feeder</h1>
                    <h4>Version: <%= nellyVersion %></h4>
                </div>
                <div class="top-right">
                  <p>Last Time Updated: 19.03.2020 16:23</p>
                  <p>Last Updated Feed: T24 - Haberler</p>
                  <p><a href="#">Add New Feed</a> | <a href="#">Settings</a></p>
                </div>
            </div>
            <div class="sidebar">
              <div class="feedsHeader">
                  <h3>RSS Feeds</h3>
              </div>
              <div id="feed-menu" class="sidebar-menu"></div>
            </div>
            <div id="feedContent" class="content">
            </div>
        </div>
    </body>
</html>