@font-face {
    font-family: coolvetica;
    src: url(./fonts/coolveticacondensedrg.ttf);
  }


body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(238,238,238);
    background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb; 
  }

.wrapper {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    bottom: 22px;
}

.sidebar {
    width: 20%;
    float: left;
    display: block;
    background-color: #3b18af;
    color: #FFFFFF;
    height: 100%;
    overflow: auto;
}

.feedContent {
    float: right;
    display: block;
    color:#FFFFFF;
    width: calc(80% - 1px);
    background-color: #202020;
    border-left: 1px solid #000000;
    height: 100%;
    overflow: auto;
}
.footer {
    width: 100%;
    background-color: #313131;
    color: #FFFFFF;
    float: left;
    height: 16px;
    padding: 5px 0 0 0;
    border-top: 1px solid #000000;
}

.footer .leftSide {
    float:left;
    width: 50%;
}

.footer .rightSide {
    float:right;
    width: 49%;
    text-align: right;
    padding-right: 1%;
}

.entry {
    border-bottom: 2px dashed #282828;
    display: block;
    min-height: 100px;
    padding: 0 10px 0 5px;
}

.entry .header {
    display: block;
    width: 99%;
    padding: 5px 0 2px 1%;
    border-bottom: 1px dashed #101010;
}

.entry .title {
    font-family: coolvetica;
    color: #465faf;
    font-size: 22px;
    padding-bottom: 4px;
}

.entry .publishedDate {
    color: #CCCCCC;
    font-weight: bold;
}

.entry a {
    color: #428963;
    text-decoration: none;
    font-weight: bold;
}

.entry a:hover {
    text-decoration: underline;
}

.entry a:visited {
    color: #754289;
    font-weight: lighter;
}

.entry img {
    padding-top:3px;
}

.entry p {
    font-size: 14px;
    padding-left: 1%;
}

.feedInfo {
    display: block;
    width: 98%;
    padding: 5px 0 2px 2%;
    border-bottom: 3px solid #101010;
}

.comments .commentsTitle {
    font-size: 16px;
    font-style: italic;
    color: #465faf;
}

.comments .commentDetails {
    font-style: italic;
    text-decoration: underline;
    padding: 2px 0 5px 5px;
    background-color: #151515;
}

.categoriesHeader {
    background-color: #311a7c;
    margin-top:10px;
}

.categoriesHeader h3 {
    padding: 5px 0 2px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.categoryList ul {
    list-style: none;
    margin:0;
    padding:0 0 0 0px;
}

.categoryList ol {
    list-style: none;
    padding:0 0 0 20px;
}

.categoryList li {
    padding:0 0 0 0px;
}